.issues-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding:30px;
    width: 100%;
    color:rgb(65, 65, 109)
  }
  
  .issue{
    width: 100%;
    max-width: 840px;
    background-color: #FFF;
    padding-top:30px;
    padding-bottom:30px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(122, 98, 140, 0.2) 0px 7px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .issue div{
    display: flex;
    flex-direction: column;
    gap:10px;
  }

  .create-issueComponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
  }


  .priority1{
    border:2px solid #FF8692
  }
  .priority2{
    border:2px solid #FFF685
  }
  .priority3{
    border:2px solid #726EFF
  }

  .priority4{
    border:2px solid #97cf8A
  }

  .priority-p{
    color: #929292;
  }

  /*
#A0D2EB
#D0BDF4
#8458B3
#E5EAF5
#494D5F
*/